@inject HttpClient Http

<h1>Office Information</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.DateFormatted</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (office == null)
{
    <p><em>Loading Office...</em></p>
}
else
{
        @office.officeName @:is located at @office.addressLine1 @office.addressLine2
}

@functions {
    WeatherForecast[] forecasts;
    GeraciOffice office;

    protected override async Task OnInitAsync()
    {
        var json = await Http.GetStringAsync("/sample-data/weather.json");
        forecasts = JsonUtil.Deserialize<WeatherForecast[]>(json);
        var officejson = await Http.GetStringAsync("https://api.geracilaw.com/api/office/geracioffice/sou");
        office = JsonUtil.Deserialize<GeraciOffice>(officejson);
    }

    class WeatherForecast
    {
        public string DateFormatted { get; set; }
        public int TemperatureC { get; set; }
        public int TemperatureF { get; set; }
        public string Summary { get; set; }
    }

    class GeraciOffice
    {

        public string officeCode { get; set; }
        public string officeName { get; set; }
        public float longitude { get; set; }
        public float lattitude { get; set; }
        public string googlePlus { get; set; }
        public string yelp { get; set; }
        public string bbb { get; set; }
        public string yahoo { get; set; }
        public string bing { get; set; }
        public string url { get; set; }
        public string addressLine1 { get; set; }
        public string addressLine2 { get; set; }
        public string city { get; set; }
        public string state { get; set; }
        public string zipCode { get; set; }
        public object county { get; set; }


    }
}
